<div class="history">
  <div class="content">
    <header>
      <h1 class="title">Bananas history</h1>
    </header>
    <h2>Whaaaaaaaat?</h2>
    <p>This seems a weird site, right?, haha, yes! somehow it is xD. We are going to explain you why.</p>
    <p>We (the Upplication Product Team) have a nice habbit, at 12:00 we always go to have a nice banana outside of the building and spend some time talking about our lifes, hobbies or whatever.</p>
    <p>So every day at 12 o'clock always someone send something funny to our internal chat to let the others know that the Banana's Time has arrive!</p>
    <p>Well... one day talking outside we realized that it would be nice to share our favourite habbit with the rest of the world. That's why this site exists xD</p>
    <p>Best Bananas ^_^,<br>The Upplication Product Team</p>
    <div class="repository"><a href="https://github.com/Upplication/">Check more silly projects</a></div>
    <div class="go-to-previous"><a href="#/banana">Go back</a></div>
  </div>
</div>