<div class="history">
  <header>
    <div class="go-to-previous"><a href="#/banana">&#60;</a></div>
    <h1 class="title">Bananas history</h1>
  </header>
  <div class="content">
    <h2>Whaaaaaaaat?</h2>
    <p>This seems a weird site, right?, haha, yes! somehow it is xD. We are going to explain you why.</p>
    <p>We (the Upplications Product Team) have a nice habbit, at 12:00 we always go to have a nice banana outside of the building and spend some time talking about our lifes, hobbies or whatever.</p>
    <p>Ok, but.....</p>
  </div>
</div>