<div ng-if="banana" ng-class="{latest: banana.latest}" class="one-banana">
  <div class="info">
    <header>
      <h1 class="title"> <img src="images/banana_logo.png" id="logo"><span>Banana's Time!</span></h1>
      <h2 class="author">
         
        {{banana.formated_date}} by <a href="http://www.twitter.com/{{banana.author}}" target="_blank" class="account">@{{banana.author}}</a>
      </h2>
    </header>
    <div class="order">{{banana.order}}º</div>
    <div ng-if="banana.tags" class="tags">Tags: <span ng-repeat="tag in banana.tags" class="tag">{{tag}}</span></div>
  </div>
  <div ng-if="banana.prev" class="go-to-previous"><a ng-href="#/banana/{{banana.prev}}">&#60; prev</a></div>
  <div ng-if="banana.next" class="go-to-next"><a ng-href="#/banana/{{banana.next}}">next &#62;</a></div>
  <div class="content">
    <div class="centered">
      <h2 class="title">{{banana.title}}</h2>
      <div ng-include="banana.url" class="page ng-repeat=&quot;tag in banana.tags&quot;"></div>
      <div class="share"><span>Do you like it? Make others laught!</span><a href="http://twitter.com/home?status=Banana Time!: {{banana.title}}" target="_blank"><img src="../images/social/twitter.png"></a><a href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://upplication.github.io/banana&amp;p[images][0]=&amp;p[title]=Banana Time!: {{banana.title}}&amp;p[summary]=" target="_blank"><img src="../images/social/facebook.png"></a><a href="https://plus.google.com/share?url=http://upplication.github.io/banana" target="_blank"><img src="../images/social/googleplus.png"></a></div>
    </div>
  </div>
  <footer>
    <ul>
      <li><a href="#/all">Banana's archive</a></li>
      <li> <a ng-href="#history">History</a></li>
      <li> <a ng-href="#community">Community</a></li>
    </ul>
  </footer>
</div>
<div ng-if="!banana" class="banana-not-found"><span>Banana not found!!!</span></div>