///////// COMPASS
@import compass/reset
@import compass/css3
@import compass/utilities

//////// FONTS

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,900,300italic)

//////// RESETS
*,*:before,*:after
  box-sizing: border-box

a
  text-decoration: none
  color: black
  &:link,
  &:visited
    color: black
button:focus,
select:focus
  outline: 0

////////// MIXINS


//////// STYLES
body
  font-family: 'Roboto', sans-serif
  line-height: 1.3em

.tag
  padding: 0 1em
  margin-bottom: .5em
  display: inline-block
  +border-radius(20px)
  background: white
  color: black
  font-size: .7em
  & + .tag
    margin-left: .3em


//////// ONE-BANANA PAGE
.one-banana
  .info
    width: 100%
    background:  #40f272
    height: 5em
    padding-top: .3em
    //margin-bottom: 1em
  .day,
  .author
    text-align: center

  .day
    font-weight: 300
    font-size: 1.7em
    margin: .5em auto .3em
  .author
    font-style: italic
    font-size: 1em
    margin: .05em auto
  .order
    display: none
  .tags
    position: absolute
    top: 1.8em
    right: 5em
  &.latest
    .tags
      display: none

.go-to-previous,
.go-to-next,
.go-to-all
  position: fixed

.go-to-previous,
.go-to-next
  top: 1.85em
  a
    background: black
    color: white
    font-size: 1em
    opacity: .7
    padding: 0.5em 1em .7em
    +border-radius(4px)
  &:hover
    +transition-duration(.3s)
    a
      color: white
      opacity: 1

.go-to-previous
  left: -.5em
  &:hover
    left: -.10em
    +transition-property(left)

.go-to-next
  right: -.5em
  &:hover
    right: -.10em
    +transition-property(right)

.go-to-all
  top: -10px
  right: 20%
  a
    background: black
    color: white
    font-size: 1em
    padding: 1em 1em 0 1em
    height: 1em
    line-height: 2em
  &:hover
    top: 0
    +transition-property(top)
    +transition-duration(.3s)
    a
      color: rgba(237,115,221,.95)


//////// ALL-BANANAS PAGE
.all-bananas
  background-image: url(/images/jungle.jpg)
  background-size: 100% 100%
  background-repeat: no-repeat
  background-attachment: fixed
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.title
  position: absolute
  right: 1em
  top: .5em
  font-size: 3em
  font-weight: 300
  color: white

.filters
  margin: 2em

.filter
  border: 1px solid black
  padding: 1em .8em
  line-height: 2em
  margin-bottom: 2em
  +border-radius(3px)

@-moz-keyframes loopOpacity
  0%
    opacity: .4
  100%
    opacity: 1
@-webkit-keyframes loopOpacity
  0%
    opacity: .4
  100%
    opacity: 1

.banana
  display: inline-block
  position: relative
  width: 21%
  opacity: .8
  +border-radius(3px)
  padding: 1em 0
  margin: 2%
  color: black
  &:last-child
    animation: loopOpacity 1.5s
    -moz-animation: loopOpacity 1.5s infinite
    -webkit-animation: loopOpacity 1.5s infinite

  &:hover
    opacity: 1
    +transition-property(opacity)
    +transition-duration(.3s)
  a
    display: block
  .tags
    margin-top: 1em
    pointer-events: none
  .day
    font-size: 1.5em
    margin-bottom: .5em
    text-align: center
    font-weight: 300
  .author
    font-size: 1em
    text-align: center
    font-weight: 900
  .order
    position: absolute
    padding: .2em
    top: 0
    right: 0

.page
  width: 80%
  margin: 0 auto
  text-align: center

  img
    display: block
    margin: 0 auto .5em

footer
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background-color: #ccc

  ul,li
    margin: 0
    padding: 0
  li
    display: inline
    &:firtst-child
      border-right: 1px solid black
    a
      line-height: 2em
      width: 33%
      display: inline-block
      text-align: center

.history
  
  header
    background-color: #40f272
    .back-button
      background-color: #ccc
      display: inline-block
      padding: .4em
    .title
      position: static
      display: inline-block
      font-size: 2em
      margin: .9em 2em
  .content
    margin: 1em



ul.polaroids a:after 
  content: attr(title)


/* By default, we tilt all our images -2 degrees */
ul.polaroids a 
  -webkit-transform: rotate(-2deg)
  -moz-transform: rotate(-2deg)
  background: rgb(255,225,53)
  padding: 2em 1em

 
/* Rotate all even images 2 degrees */
ul.polaroids li:nth-child(even) a 
  -webkit-transform: rotate(2deg)
  -moz-transform: rotate(2deg)

 
/* Don't rotate every third image, but offset its position */
ul.polaroids li:nth-child(3n) a 
  -webkit-transform: none
  -moz-transform: none
  position: relative
  top: -5px

 
/* Rotate every fifth image by 5 degrees and offset it */
ul.polaroids li:nth-child(5n) a 
  -webkit-transform: rotate(5deg)
  -moz-transform: rotate(5deg)
  position: relative
  right: 5px

 
/* Keep default rotate for every eighth, but offset it */
ul.polaroids li:nth-child(8n) a 
  position: relative
  top: 8px
  right: 5px

 
/* Keep default rotate for every eleventh, but offset it */
ul.polaroids li:nth-child(11n) a 
  position: relative
  top: 3px
  left: -5px


/* Scale the images on hover, add transitions for smoothing things out, and ensure the hover appears on top */
ul.polaroids a:hover 
  -webkit-transform: scale(1.25) !important
  -moz-transform: scale(1.25) !important
  position: relative !important
  z-index: 5 !important


/* Add drop shadows and smooth out the transition (Safari only) */
ul.polaroids a 
  -webkit-transition: -webkit-transform .15s linear
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25)
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25)

 
/* On hover, darken the shadows a bit */
ul.polaroids a 
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5)
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5)


    