.all-bananas
    .filters
        input.filter.day(ng-model="search.day", placeholder="Filter by day")
        input.filter.author(ng-model="search.author", placeholder="Filter by author")
        input.filter.tag(ng-model="search.tags", placeholder="Filter by tag")
    ul
        li.banana(ng-repeat="banana in bananas | filter:search")
            h1.day {{banana.day}}
            h2.author {{banana.author}}
            .order
                |{{banana.order}}ยบ
            .tags(ng-if="banana.tags")
               span(ng-repeat="tag in banana.tags") {{tag}}
            .link
                a(ng-href="#/banana/{{banana.day}}") go2
