.all-bananas
    .filters
        input.filter.by-day(ng-model="search.day", placeholder="Filter by day")
        input.filter.by-author(ng-model="search.author", placeholder="Filter by author")
        input.filter.by-tags(ng-model="search.tags", placeholder="Filter by tag")
    ul
        li.banana(ng-repeat="banana in bananas | filter:search")
            a(ng-href="#/banana/{{banana.day}}")
                h1.day {{banana.day}}
                h2.author {{banana.author}}
                .order
                    |{{banana.order}}ยบ
                .tags(ng-if="banana.tags")
                   span.tag(ng-repeat="tag in banana.tags") {{tag}}

