.community

    .info
      header
        h1.title 
          img(src="images/banana_logo.png", id="logo")
          span Banana's Time!

    .content
        header
            h1.title Join to the banana's community

        
        ul
            li
                img(src="http://upplication.com/wp-content/uploads/2013/05/borja1.png")
            li
                img(src="http://upplication.com/wp-content/uploads/2013/11/raul-team-02.png")
            li
                img(src="http://upplication.com/wp-content/uploads/2013/05/irene1.png")
            li
                img(src="http://upplication.com/wp-content/uploads/2013/05/javier1.png")
footer
    ul
      li
        a(href="#/all") Banana's archive
      li 
        a(ng-href="#history") History
      li 
        a(ng-href="#community") Community