.community
	header
		h1.title Our community
		
	.content
		.go-to-previous
			a(href="#/banana") Go back
		h2 Whaaaaaaaat?
		ul
			li
				|hhkaos
				a(href="#/banana") Go back

		.go-to-previous
			a(href="#/banana") Go back
