.history

	.content
		header
			h1.title Bananas history

		
		h2 Whaaaaaaaat?
		p This seems a weird site, right?, haha, yes! somehow it is xD. We are going to explain you why.

		p We (the Upplication Product Team) have a nice habbit, at 12:00 we always go to have a nice banana outside of the building and spend some time talking about our lifes, hobbies or whatever.

		p So every day at 12 o'clock always someone send something funny to our internal chat to let the others know that the Banana's Time has arrive!

		p Well... one day talking outside we realized that it would be nice to share our favourite habbit with the rest of the world. That's why this site exists xD

		p Best Bananas ^_^,<br>The Upplication Product Team

		.repository
			a(href="https://github.com/Upplication/") Check more silly projects
			
		.go-to-previous
			a(href="#/banana") Go back
