.history
	header
		.go-to-previous
			a(href="#/banana") &#60;
		h1.title Bananas history
	.content
		h2 Whaaaaaaaat?
		p This seems a weird site, right?, haha, yes! somehow it is xD. We are going to explain you why.

		p We (the Upplications Product Team) have a nice habbit, at 12:00 we always go to have a nice banana outside of the building and spend some time talking about our lifes, hobbies or whatever.

		p Ok, but.....

