.one-banana(ng-if="banana", ng-class="{latest: banana.latest}")

  .info
      h1.day {{banana.day}}
      h2.author {{banana.author}}
      .order
        |{{banana.order}}ยบ
      .tags(ng-if="banana.tags")
          span.tag(ng-repeat="tag in banana.tags") {{tag}}
  .go-to-all
      a(href="#/all") all

  .go-to-previous(ng-if="banana.prev")
      a(ng-href="#/banana/{{banana.prev}}") prev

  .go-to-next(ng-if="banana.next")
      a(ng-href="#/banana/{{banana.next}}") next

  .page(ng-include="banana.url")

.banana-not-found(ng-if="!banana")
    span Banana not found!!!